
@{
    ViewData["Title"] = "ShowAllMobiles";
}

<h1>ShowAllMobiles</h1>
<h2> Mobiles Thru View Data Object</h2>
@foreach(var item in ViewData["androids"] as List<string>)
            {
                <li>@item</li>
            }

<hr/>
<h2> Mobiles Thru View Bag Object</h2>
@foreach(var item in ViewBag.mobilebag)
            {
                <li>@item</li>
            }